@import url("https://fonts.googleapis.com/css?family=Caladea:400,700|Roboto:400,700,900&display=swap");
$colors: (
  aside: #fafafa,
  link: #29b6f6,
  f-color: #323232
);
$font: (
  heading: "Caladea",
  body: "Roboto"
);

* {
  box-sizing: border-box;
  //   transition: ease-in-out 250ms;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.8em;
  text-transform: uppercase;
}

h1,
h2 {
  font-family: map-get($font, heading);
  font-weight: bold;
}

p {
  max-width: 60ch;
  line-height: 1.6;
  color: map-get($colors, f-color);
}

a {
  color: map-get($colors, link);
  text-transform: uppercase;

  &:hover,
  &:active {
    opacity: 0.5;
  }
}

p,
a {
  font-family: map-get($font, body);
}

p,
li,
a {
  font-size: 1.4rem;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  display: grid;
  grid: auto / 50ch 1fr;
  position: relative;
}

.bg {
  position: absolute;
  //   background-image: url(../img/bg.svg);
  max-width: 100%;
  max-height: 400px;
  top: 0;
  right: 0;
  z-index: -5;

  &__img {
    width: 100%;
    height: 100%;
  }
}

.up {
  position: fixed;
  right: 2%;
  bottom: 3%;
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}

aside {
  background: map-get($colors, aside);

  .nav {
    padding: 1em 2em;
    position: fixed;

    &__list {
      list-style: none;
      margin: 0;
      padding-left: 2rem;
    }

    &__item {
      padding-bottom: 0.5rem;
    }
  }
}

.main {
  padding: 10vw 4em 0 4em;

  &__sec {
    max-width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .main {
    &__sec {
      max-width: 100%;
    }
  }

  p {
    max-width: 80ch;
  }
  aside {
    // display: none;

    .nav {
      transform: translateX(-100%);
    }
  }

  body {
    grid: auto / 10px 1fr;
  }
}
