// @use "./vars";
// @use "./font";

@import url("https://fonts.googleapis.com/css?family=Caladea:400,700|Roboto:400,700,900&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // transition: ease-in-out 250ms;
}

// html {
//   scroll-behavior: smooth;
//   font-size: 62.5%;
// }

body {
  margin: 0;

}

.header {
  background-color: red;
  display: flex;
  padding: 2em 4em;

  > * {
    flex: 1 1 0;
  }


  &__info {
    text-align: right;
  }
}

nav {
  background-color: purple;
  position: sticky;
  position: -webkit-sticky;

  top: 0;
}
main {
  background-color: green;
  // height: 200vh;
}