@use "reset";
@use "font";

$dark-color: #191919;
// background-color: $dark-color;

header,
.work,
.edu {
  padding-bottom: 2em;
  border-bottom: 1px solid #bbbbbb;
}

main {
  max-width: 750px;
  margin: 0 auto;
  padding: 5em 1em;
}

header {
  .pp {
    width: 25%;
    img {
      border-radius: 50%;
    }
  }
  .header__bio {
    h1 {
      font-size: 3rem;
      margin-bottom: 0;
    }
  }
  .bio__contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.work {
  &__exp {
    display: flex;

    > * {
      padding: 1em;
    }

    .work__year {
      flex-basis: 25ch;
      flex-grow: 1;
      // flex-shrink: 0;
    }

    .work__desc {
      h3 {
        margin-top: 0;
        margin-bottom: 0;
      }

      h3:nth-child(2) {
        margin-top: 0;
        font-size: 1em;
        font-style: italic;
      }
    }
  }
}

.edu {
  &__exp {
    display: flex;

    > * {
      padding: 1em;
    }

    .edu__year {
      flex-basis: 20ch;
      // flex-shrink: 0;
    }

    .edu__desc {
      h3 {
        margin-top: 0;
        margin-bottom: 0;
      }

      h3:nth-child(2) {
        margin-top: 0;
        font-size: 1em;
        font-style: italic;
      }
    }
  }
}

.other {
  details {
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 0.5em;
    cursor: pointer;
  }
  summary {
    padding: 1em;
  }
  .mentor {
    background-color: #5bc0eb;
  }
  .alag {
    background-color: #9bc53d;
  }

  .program {
    background-color: #f686bd;
  }
  .kurser {
    background-color: #f2f3ae;
  }
}

.forprint {
  display: none;
}
