@use "reset";
@use "font";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.overflow {
  overflow: hidden;
}

.nav {
  padding: 0.5em 1em;

  &__links {
    display: none;
  }
  &__bars {
    width: 2rem;
  }
}

.showMenu {
  display: flex;
  background-color: rgba(23, 23, 23, 0.75);
  backdrop-filter: blur(8px);
  color: #fff;
  position: fixed;
  inset: 0;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 2.5rem;
  top: -20vw;
  font-size: calc(1rem + 5vw);
}

.zIndex {
  position: relative;
  z-index: 99;
  filter: invert(100%);
}

@media (min-width: 600px) {
  .nav {
    // background-color: red;

    &__links {
      display: flex;
      // background-color: blue;

      & > * {
        flex: 1 1 0;
        text-align: center;
      }
    }

    &__link {
      a:hover {
        opacity: 0.7;
      }
    }

    &__bars {
      display: none;
    }
  }
}
img {
  max-width: 100%;
}
.header {
  padding: 2rem 5rem;

  &__heading {
    margin: 0 0 2rem;
    font-size: 3rem;
    text-align: center;
  }
}

.main {
  padding: 2rem 0.5rem;
  span {
    font-weight: bold;
    display: block;
  }
}
