* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.button {
    border: 3px solid #232323;
    border-radius: 100vw;
    position: absolute;
    top: 1em;
    left: 1em;
    padding: .5em 1em;
}

input {
    display: none;
}

#button:checked~.left img {
    content: url(pos3.png)
}

#button:checked~.center .sixnine {
    display: unset;
}

#button:checked~.center .missionary {
    display: none;
}

#button:checked~.right img {
    content: url(pos4.png)
}


.container {
    display: flex;
    height: 100%;
}


.container>* {
    flex: 1 1 0;
}

.container img {
    width: 15vw;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    /* background-color: yellow; */
}

.center {
    /* background-color: blue; */
    flex: 1 1 100%
}

.center h1 {
    /* font-size: 900%; */
    font-size: calc(100% + 8vw);
    text-transform: uppercase;
    background-image: url(sweden.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sixnine {
    display: none;
}



span {
    margin-left: 1em;
}

.right {
    /* background-color: green; */
}


@media screen and (max-width: 500px) {

    .container {
        flex-direction: column;
    }

    .center {
        flex: 1 1 0;
    }

    .left,
    .right {
        flex: 0 0 0;
    }

    .container img {
        width: 60vw;
        /* outline: 1px solid red; */
    }

    .center h1 {
        font-size: 60px;
        background-size: cover 50%;
    }

}